<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página con Bootstrap</title>
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="cajita2">
        <h1>El delirio del dolor un viaje poetico</h1>
        <div class="cajita2__img">
            <img src="assets/libro4.jpeg" alt="">
        </div>
        <h3>Sinopsis</h3>
        <div class="sinopsis">
            <p>Este libro de poemas es una recopilacion
                de emociones vividas y sinceras sobre el amor,
                el despecho y las luchas internas
                que todos experimentamos. A través de
                versos delicados exploro el vaivén entre el deseo,
                el dolor y la redención
            </p>
        </div>
        <div class="cajita2__descargar">
            <span>Para descargar el libro da click en el siguiente boton</span>
            <button (click)="goToAutores()"><a href="">Descargar</a></button>

        </div>
        <div class="reseñas" id="res">
            <span>Reseñas</span>
            <p>
                El libro mas feo porque me hizo revivir emociones de mi pasado,
                por cierto la mas bella autora
            </p>
        </div>
    </div>
</body>

</html>